* {
    font-family: 'PT Serif', serif;
    text-align: left;
}

#onActivate {
    color: #FFB319;
}

#offDeactivate {
    color: #C8C6C6;
}

#offActivate {
    color: #FFB319;
}

#onDeactivate {
    color: #C8C6C6;
}

#OnLife, #OffLife {
    position: absolute;
    margin-left: 5%;
    left: 0;
    width: 50%;
    top: 2%;
}

